* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #094779, #00d4ff);
    display: flex;
}

h1 {
    color: rgb(49, 49, 49);
    margin-top: 4rem;
    text-align: center;
    font-size: 3.3rem;
}

.input-group {
    margin: 3rem 0;
    display: flex;
}

.input-group input {
    padding: .6rem .5rem;
    width: 60%;
    height: 2.4rem;
}

.btn-add {
    background-color: rgb(12, 187, 50);
    color: #fff;
    padding: .6rem .6rem;
}

.btn-remove {
    background-color: rgb(187, 12,12);
    color: #fff;
    padding: .6rem .6rem;
}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    position: relative;
    display: block;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid #000;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}